Repository bivlked/ReportB24: changes, and which pre-commit hooks are due for each by the changed paths.
All: memory-bank-security, config-security

.pre-commit-config.yaml:

# üîí Pre-commit configuration –¥–ª—è ReportB24
# –ê–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏–µ –ø—Ä–æ–≤–µ—Ä–∫–∏ –±–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç–∏ –∏ –∫–∞—á–µ—Å—Ç–≤–∞ –∫–æ–¥–∞

repos:
  # –ë–∞–∑–æ–≤—ã–µ –ø—Ä–æ–≤–µ—Ä–∫–∏ —Ñ–∞–π–ª–æ–≤
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        name: üßπ –£–¥–∞–ª–µ–Ω–∏–µ trailing whitespace
      - id: end-of-file-fixer
        name: üìù –ò—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ –æ–∫–æ–Ω—á–∞–Ω–∏—è —Ñ–∞–π–ª–æ–≤
      - id: check-yaml
        name: ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ YAML —Ñ–∞–π–ª–æ–≤
      - id: check-json
        name: ‚úÖ –ü—Ä–æ–≤–µ—Ä–∫–∞ JSON —Ñ–∞–π–ª–æ–≤
      - id: check-merge-conflict
        name: üîÄ –ü—Ä–æ–≤–µ—Ä–∫–∞ merge conflicts
      - id: check-added-large-files
        name: üì¶ –ü—Ä–æ–≤–µ—Ä–∫–∞ –±–æ–ª—å—à–∏—Ö —Ñ–∞–π–ª–æ–≤
        args: ['--maxkb=1000']
      - id: detect-private-key
        name: üîë –û–±–Ω–∞—Ä—É–∂–µ–Ω–∏–µ –ø—Ä–∏–≤–∞—Ç–Ω—ã—Ö –∫–ª—é—á–µ–π

  # Python –∫–æ–¥
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        name: üñ§ –§–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ Python (Black)
        language_version: python3

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        name: üîç –õ–∏–Ω—Ç–∏–Ω–≥ Python (flake8)
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  # –ü—Ä–æ–≤–µ—Ä–∫–∞ —Å–µ–∫—Ä–µ—Ç–æ–≤
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: üïµÔ∏è –û–±–Ω–∞—Ä—É–∂–µ–Ω–∏–µ —Å–µ–∫—Ä–µ—Ç–æ–≤
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)(
            ^tests/.*test.*\.py$|
            ^.*\.example$|
            ^SECURITY_INCIDENT_REPORT\.md$
          )

  # –ö–∞—Å—Ç–æ–º–Ω–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ –±–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç–∏
  - repo: local
    hooks:
      - id: security-check
        name: üîí –ü—Ä–æ–≤–µ—Ä–∫–∞ —É—Ç–µ—á–µ–∫ webhook
        entry: python scripts/security_check.py
        language: python
        files: '\.(py|md|ini|yaml|yml|txt)$'
        pass_filenames: false
        always_run: true

      - id: memory-bank-security
        name: üß† –ü—Ä–æ–≤–µ—Ä–∫–∞ Memory Bank –Ω–∞ —É—Ç–µ—á–∫–∏
        entry: bash -c 'grep -r "https://[^/]*\.bitrix24\.[^/]*/rest/[^/]*/[^/\*]{5,}/" memory-bank/ && exit 1 || exit 0'
        language: system
        files: '^memory-bank/.*\.md$'
        pass_filenames: false

      - id: config-security
        name: ‚öôÔ∏è –ü—Ä–æ–≤–µ—Ä–∫–∞ –∫–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã—Ö —Ñ–∞–π–ª–æ–≤
        entry: bash -c 'find . -name "*.ini" -not -path "./.*" -exec grep -l "bitrix24\.ru/rest/.*/[a-zA-Z0-9_]\{10,\}/" {} \; | head -1 | grep -q . && exit 1 || exit 0'
        language: system
        files: '\.(ini|env)$'
        pass_filenames: false

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –ø—Ä–æ–≤–µ—Ä–æ–∫
default_stages: [commit]
fail_fast: true

# Exclude patterns
exclude: |
  (?x)(
    /(\.[^/]*cache|__pycache__|node_modules)/|
    \.(log|tmp|temp)$|
    ^reports/|
    ^logs/|
    ^test_reports/
  )

docs: comprehensive documentation overhaul v3.0.0
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTORS.md
  README.md
  docs/contributing/index.md
  docs/diagrams/index.md
  docs/examples/index.md
  docs/index.md
  docs/technical/api/index.md
  docs/technical/architecture.md
  docs/technical/development.md
  docs/technical/index.md
  docs/technical/performance.md
  docs/technical/security-deep-dive.md
  docs/technical/testing.md
  docs/user/configuration.md
  docs/user/faq.md
  docs/user/index.md
  docs/user/installation.md
  docs/user/quick-start.md
  docs/user/troubleshooting.md
  docs/user/usage-guide.md
  memory-bank/creative/creative-docs-architecture-v3.0.0.md
  memory-bank/tasks.md
Due: memory-bank-security

fix: критические исправления Quick Start для новых пользователей
  .env-example
  config.ini
  config.ini.example
  requirements.txt
  src/config/validation.py
Due: config-security

fix: критические исправления Quick Start для новых пользователей (#10)
  .env-example
  config.ini
  config.ini.example
  requirements.txt
  src/config/validation.py
Due: config-security

fix: исправлено имя переменной WEBHOOK_URL в .env-example и документации
  .env-example
  docs/user/quick-start.md
  src/config/config_reader.py
Due: none

docs(planning): add critical bugfix verification plan and creative phases
  memory-bank/creative/creative-bugfix-critical-errors-v1.0.0.md
  memory-bank/tasks.md
Due: memory-bank-security

fix(critical): Priority 1 - Critical data processing fixes
  scripts/run_detailed_report.py
  src/bitrix24_client/client.py
  src/excel_generator/validation.py
Due: none

refactor(cleanup): Remove retry_on_api_error decorator (CREATIVE-1)
  src/bitrix24_client/__init__.py
  src/bitrix24_client/client.py
  src/bitrix24_client/retry_decorator.py
Due: none

fix(decorator): Complete removal of retry_on_api_error decorator
  src/bitrix24_client/client.py
Due: none

docs(tasks): update with PR #11 code review results
  memory-bank/tasks.md
Due: memory-bank-security

fix: critical bugfixes for error handling, pagination, and validation (#11)
  memory-bank/creative/creative-bugfix-critical-errors-v1.0.0.md
  memory-bank/tasks.md
  scripts/run_detailed_report.py
  src/bitrix24_client/__init__.py
  src/bitrix24_client/client.py
  src/bitrix24_client/retry_decorator.py
  src/excel_generator/validation.py
Due: memory-bank-security

refactor(scripts): unify report generation scripts into single run_report.py
  scripts/run_detailed_report.py
  scripts/run_report.py
Due: none

docs(readme): russify README.md and update for unified script
  README.md
Due: none

docs(phase1): complete encoding check and link validation
  memory-bank/phase1-link-check-report.txt
Due: none

docs(phase1.3): fix code examples to match actual API
  README.md
Due: none

docs(phase1.6): update all documentation after script refactoring
  docs/TECHNICAL_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/USER_GUIDE.md
  docs/examples/index.md
  docs/user/faq.md
  docs/user/quick-start.md
  docs/user/troubleshooting.md
  docs/user/usage-guide.md
Due: none

docs(phase1): add Phase 1 completion report
  memory-bank/phase1-completion-report.md
Due: memory-bank-security

docs(api): add comprehensive Bitrix24Client API documentation
  docs/technical/api/bitrix24-client.md
Due: none

docs(api): complete Phase 2 - API Reference documentation
  docs/technical/api/app.md
  docs/technical/api/config-reader.md
  docs/technical/api/data-processor.md
  docs/technical/api/excel-generator.md
  docs/technical/api/index.md
  docs/technical/api/workflow.md
Due: none

docs(examples+diagrams): complete Phase 3 - Code Examples & Diagrams
  docs/diagrams/architecture.md
  docs/diagrams/data-flow.md
  docs/diagrams/system-overview.md
  docs/diagrams/workflow.md
  docs/examples/basic-report.md
  docs/examples/batch-processing.md
  docs/examples/custom-formatting.md
  docs/examples/detailed-report.md
  docs/examples/error-handling.md
  docs/examples/integration.md
Due: none

docs(release): prepare v3.2.0 - Final GitHub Optimization release
  CHANGELOG.md
Due: none

🚀 Release v3.2.0 - Final GitHub Optimization (#12)
  CHANGELOG.md
  README.md
  docs/TECHNICAL_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/USER_GUIDE.md
  docs/diagrams/architecture.md
  docs/diagrams/data-flow.md
  docs/diagrams/system-overview.md
  docs/diagrams/workflow.md
  docs/examples/basic-report.md
  docs/examples/batch-processing.md
  docs/examples/custom-formatting.md
  docs/examples/detailed-report.md
  docs/examples/error-handling.md
  docs/examples/index.md
  docs/examples/integration.md
  docs/technical/api/app.md
  docs/technical/api/bitrix24-client.md
  docs/technical/api/config-reader.md
  docs/technical/api/data-processor.md
  docs/technical/api/excel-generator.md
  docs/technical/api/index.md
  docs/technical/api/workflow.md
  docs/user/faq.md
  docs/user/quick-start.md
  docs/user/troubleshooting.md
  docs/user/usage-guide.md
  memory-bank/phase1-completion-report.md
  memory-bank/phase1-link-check-report.txt
  scripts/run_detailed_report.py
  scripts/run_report.py
Due: memory-bank-security

🔒 Security: Remove sensitive files from GitHub
  .gitignore
  config.ini
  memory-bank/archive/archive-bugfix-data-processing-v2.4.1.md
  memory-bank/archive/archive-detailed-report-fixes-2025-01-20.md
  memory-bank/archive/archive-report-enhancements-v2-2025-01-21.md
  memory-bank/creative-config-system.md
  memory-bank/creative/BATCH_CLARIFICATION.md
  memory-bank/creative/creative-api-caching-architecture.md
  memory-bank/creative/creative-bugfix-critical-errors-v1.0.0.md
  memory-bank/creative/creative-company-cache-architecture.md
  memory-bank/creative/creative-data-enrichment-strategy-v2.4.1.md
  memory-bank/creative/creative-data-processing-architecture-v2.4.0.md
  memory-bank/creative/creative-detailed-report-architecture.md
  memory-bank/creative/creative-detailed-report-data-model.md
  memory-bank/creative/creative-docs-architecture-v3.0.0.md
  memory-bank/creative/creative-excel-border-styling.md
  memory-bank/creative/creative-logging-rotation-v2.4.0.md
  memory-bank/creative/creative-number-formatting-fix.md
  memory-bank/creative/creative-project-structure-v2.3.0.md
  memory-bank/creative/creative-report-enhancement-v2.5.0.md
  memory-bank/creative/creative-retry-mechanism-architecture.md
  memory-bank/creative/creative-vat-handling-v2.3.0.md
  memory-bank/phase1-completion-report.md
  memory-bank/phase1-link-check-report.txt
  memory-bank/reflection/reflection-comprehensive-improvements-v2.3.0.md
  memory-bank/reflection/reflection-detailed-report-fixes-2025-01-20.md
  memory-bank/reflection/reflection-excel-final.md
  memory-bank/reflection/reflection-phase5.md
  memory-bank/reflection/reflection-remaining-fixes-2025-07-03.md
  memory-bank/reflection/reflection-report-enhancements-v2-2025-01-21.md
  memory-bank/tasks.md
  memory-bank/user-rules.md
Due: memory-bank-security, config-security

🗑️ Remove outdated README_EN.md
  README_EN.md
Due: none

📦 Archive: Phase 5 - GitHub Optimization & Release v3.2.0
  docs/archive/archive-phase5-github-optimization-v3.2.0.md
Due: none
