Repository bivlked/ReportB24: changes, and which pre-commit hooks are due for each by the changed paths.
All: memory-bank-security, config-security

memory-bank-security:
  name: üß† –ü—Ä–æ–≤–µ—Ä–∫–∞ Memory Bank –Ω–∞ —É—Ç–µ—á–∫–∏
  entry: bash -c 'grep -r "https://[^/]*\.bitrix24\.[^/]*/rest/[^/]*/[^/\*]{5,}/" memory-bank/ && exit 1 || exit 0'
  language: system
  pass_filenames: false

config-security:
  name: ‚öôÔ∏è –ü—Ä–æ–≤–µ—Ä–∫–∞ –∫–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã—Ö —Ñ–∞–π–ª–æ–≤
  entry: bash -c 'find . -name "*.ini" -not -path "./.*" -exec grep -l "bitrix24\.ru/rest/.*/[a-zA-Z0-9_]\{10,\}/" {} \; | head -1 | grep -q . && exit 1 || exit 0'
  language: system
  pass_filenames: false

docs: создание улучшенного русского README.md
  README.md
Due: none

docs: создание английской версии README_EN.md
  README_EN.md
Due: none

docs: обновление статуса - переход к IMPLEMENT MODE Фаза 3
  memory-bank/tasks.md
Due: memory-bank-security

fix: comprehensive fixes for remaining errors and documentation
  README.md
  SECURITY.md
  src/data_processor/data_processor.py
Due: none

docs: final update to tasks.md with IMPLEMENT mode completion status
  memory-bank/tasks.md
Due: memory-bank-security

🐛 Исправление оставшихся ошибок и синхронизация документации (#4)
  README.md
  SECURITY.md
  memory-bank/tasks.md
  src/data_processor/data_processor.py
Due: memory-bank-security

fix: исправление проблемы в GitHub Actions workflow
  .github/workflows/security-check.yml
Due: none

fix: улучшение GitHub Actions workflow для корректной работы
  .github/workflows/security-check.yml
Due: none

fix: создание минимального рабочего workflow для безопасности
  .github/workflows/security-check.yml
Due: none

feat(v2.1.0): ФАЗА 7 ЗАВЕРШЕНА - Комплексная документация детальных отчётов
  CHANGELOG.md
  README.md
  README_EN.md
  integration_test_e2e_detailed_report.py
  memory-bank/creative/creative-detailed-report-architecture.md
  memory-bank/tasks.md
  proof_of_concept_productrow_api.py
  src/bitrix24_client/client.py
  src/data_processor/data_processor.py
  src/excel_generator/generator.py
  src/excel_generator/layout.py
Due: memory-bank-security

feat: add critical user rules and plan for detailed report bugfix 2025-07-07
  memory-bank/tasks.md
  memory-bank/user-rules.md
Due: memory-bank-security

fix: complete bugfix for detailed report v2.1.1 - 2025-07-07 17:35:35
  memory-bank/tasks.md
  run_detailed_report.py
  src/data_processor/data_processor.py
  src/excel_generator/generator.py
  src/excel_generator/layout.py
Due: memory-bank-security

🔧 ИСПРАВЛЕНИЯ v2.1.1 - Финальные доработки двухлистового отчета
  debug_batch_api.py
  debug_batch_crest_format.py
  debug_simple_batch.py
  memory-bank/tasks.md
  run_detailed_report.py
  src/bitrix24_client/client.py
  src/excel_generator/generator.py
  src/excel_generator/layout.py
Due: memory-bank-security

fix(excel): Исправление серой заливки НДС и высоты заголовков двухлистового отчета
  memory-bank/tasks.md
  src/data_processor/data_processor.py
  src/excel_generator/layout.py
Due: memory-bank-security

🔧 Fix: Исправление серой заливки НДС и высоты заголовков двухлистового отчета
  CHANGELOG.md
  README.md
  README_EN.md
  debug_batch_api.py
  debug_batch_crest_format.py
  debug_simple_batch.py
  docs/archive/enhancements/2025-07/remaining-fixes-and-docs-2025-07-03.md
  integration_test_e2e_detailed_report.py
  memory-bank/creative/creative-detailed-report-architecture.md
  memory-bank/reflection/reflection-remaining-fixes-2025-07-03.md
  memory-bank/tasks.md
  memory-bank/user-rules.md
  proof_of_concept_productrow_api.py
  run_detailed_report.py
  src/bitrix24_client/client.py
  src/data_processor/data_processor.py
  src/excel_generator/generator.py
  src/excel_generator/layout.py
Due: memory-bank-security

feat(creative): complete creative phase for detailed report VAT enhancements
  memory-bank/creative/creative-api-caching-architecture.md
  memory-bank/creative/creative-excel-border-styling.md
  memory-bank/tasks.md
Due: memory-bank-security

feat(detailed-report): implement VAT enhancements and API caching
  memory-bank/tasks.md
  src/bitrix24_client/api_cache.py
  src/bitrix24_client/client.py
  src/data_processor/data_processor.py
  src/excel_generator/layout.py
  src/excel_generator/styles.py
Due: memory-bank-security

fix(excel): исправление выравнивания и стилей в двухлистовом отчете
  memory-bank/tasks.md
  src/data_processor/data_processor.py
  src/excel_generator/generator.py
  src/excel_generator/layout.py
  src/excel_generator/styles.py
Due: memory-bank-security

docs(tasks): обновление статуса после коммита исправлений
  memory-bank/tasks.md
Due: memory-bank-security

fix(vat): исправление логики НДС согласно образцу Report BIG.py
  config.ini
  memory-bank/tasks.md
  src/bitrix24_client/api_cache.py
  src/data_processor/data_processor.py
Due: memory-bank-security, config-security

fix(critical): исправление критических ошибок и оптимизация системы
  config.ini
  memory-bank/tasks.md
  src/bitrix24_client/api_cache.py
  src/data_processor/data_processor.py
Due: memory-bank-security, config-security

docs(tasks): обновление статуса BUILD MODE и финального коммита
  memory-bank/tasks.md
Due: memory-bank-security

feat: сохранение состояния перед исправлением двухлистового отчета
  config.ini
  memory-bank/creative/creative-detailed-report-data-model.md
  memory-bank/tasks.md
Due: memory-bank-security, config-security

feat: исправление двухлистового отчета - завершение реализации
  memory-bank/reflection/reflection-detailed-report-fixes-2025-01-20.md
  memory-bank/tasks.md
  run_detailed_report.py
  src/data_processor/data_processor.py
  src/excel_generator/layout.py
Due: memory-bank-security

docs: завершение архивирования задачи исправления двухлистового отчета
  memory-bank/archive/archive-detailed-report-fixes-2025-01-20.md
  memory-bank/tasks.md
Due: memory-bank-security

docs(creative): завершение Creative Phase для доработок отчета - форматирование чисел, кэширование, retry механизм
  memory-bank/creative/creative-company-cache-architecture.md
  memory-bank/creative/creative-number-formatting-fix.md
  memory-bank/creative/creative-retry-mechanism-architecture.md
  memory-bank/tasks.md
Due: memory-bank-security

chore(deps): обновление зависимостей - requests 2.32.5, openpyxl 3.1.5, pytest 8.4.1, установка dev инструментов
  requirements.txt
Due: none

feat(excel): реализация Dual Data Structure для корректного форматирования чисел в листе 'Краткий' - колонки E и F теперь числовые
  src/data_processor/data_processor.py
  src/excel_generator/generator.py
Due: none

feat(cache): расширение кэширования для полных реквизитов компаний - интеграция APIDataCache с DataProcessor для минимизации API запросов
  src/bitrix24_client/api_cache.py
  src/data_processor/data_processor.py
Due: none

feat(retry): реализация retry механизма с exponential backoff - декоратор @retry_on_api_error и интеграция с Bitrix24Client.call()
  src/bitrix24_client/__init__.py
  src/bitrix24_client/client.py
  src/bitrix24_client/exceptions.py
  src/bitrix24_client/rate_limiter.py
  src/bitrix24_client/retry_decorator.py
Due: none

refactor(client): удаление неиспользуемых импортов - оптимизация кода согласно flake8
  src/bitrix24_client/client.py
Due: none

docs(reflect): завершение REFLECT MODE - документирование рефлексии и обновление tasks.md
  memory-bank/reflection/reflection-report-enhancements-v2-2025-01-21.md
  memory-bank/tasks.md
Due: memory-bank-security

docs(archive): завершение ARCHIVE MODE - комплексное архивирование задачи report-enhancements-v2-2025-01-21
  memory-bank/archive/archive-report-enhancements-v2-2025-01-21.md
  memory-bank/tasks.md
Due: memory-bank-security

Refocus README around Windows quick start
  README.md
  docs/TECHNICAL_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/USER_GUIDE.md
Due: none

docs: refresh English README for detailed report entry
  README_EN.md
Due: none

docs: завершение PLAN и CREATIVE MODE для v2.3.0
  memory-bank/creative/creative-number-formatting-fix.md
  memory-bank/creative/creative-project-structure-v2.3.0.md
  memory-bank/creative/creative-vat-handling-v2.3.0.md
  memory-bank/tasks.md
Due: memory-bank-security

chore: удаление отладочных скриптов
  debug_batch_api.py
  debug_batch_crest_format.py
  debug_simple_batch.py
Due: none

chore: удаление тестовых скриптов из корня
  integration_test_e2e_detailed_report.py
Due: none

chore: удаление proof of concept и тестовых скриптов
  proof_of_concept_productrow_api.py
Due: none

chore: удаление устаревших утилит и дубликатов
  git-history-cleanup.sh
  tasks.md
Due: none

Path conditions:
  memory-bank-security: any of: ^memory-bank/.*\.md$, but not: (?x)(
  /(\.[^/]*cache|__pycache__|node_modules)/|
  \.(log|tmp|temp)$|
  ^reports/|
  ^logs/|
  ^test_reports/
)
  config-security: any of: \.(ini|env)$, but not: (?x)(
  /(\.[^/]*cache|__pycache__|node_modules)/|
  \.(log|tmp|temp)$|
  ^reports/|
  ^logs/|
  ^test_reports/
)
